# LLM
OLLAMA_BASE_URL=http://localhost:11434
LLM_MODEL=stock-model

# Vector DB
# CHROMA_PERSIST_DIR=./chroma_storage
# EMBEDDING_MODEL=BAAI/bge-m3

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=

# External APIs
DART_API_KEY=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# 현재 시세 api
KIS_APP_KEY=
KIS_APP_SECRET=
KIS_ACCOUNT=

# HuggingFace 토큰
HF_TOKEN=